:8080 {
    root * /srv/dist
    file_server

    @api {
        path /api/* /auth/* /docs* /openapi.json /redoc*
    }
    handle @api {
        reverse_proxy 127.0.0.1:8000
    }

    handle {
        try_files {path} /index.html
    }
}
