[Unit]
Description=resoFlow Celery Background Worker Container
After=resoflow-pod.service resoflow-postgres.service resoflow-redis.service
Wants=resoflow-postgres.service resoflow-redis.service
BindsTo=resoflow-pod.service

[Service]
Restart=always
TimeoutStartSec=120
Environment=PODMAN_SYSTEMD_UNIT=%n
KillMode=mixed
SyslogIdentifier=%N
Delegate=yes
Type=notify
NotifyAccess=all
ExecStop=-/usr/bin/podman rm -v -f -i resoflow-worker
ExecStopPost=-/usr/bin/podman rm -v -f -i resoflow-worker
ExecStart=/usr/bin/podman run --name resoflow-worker --replace --rm --cgroups=split --sdnotify=conmon -d -v __DATA_DIR__:/data/projects:z -v %t/podman/podman.sock:/run/podman/podman.sock:z --env CONTAINER_HOST=unix:///run/podman/podman.sock --env-file %h/.config/resoflow/resoflow.env --pod resoflow localhost/resoflow-worker:latest celery -A app.celery_app worker --loglevel=info -Q chemex,peakfit,stats,celery --concurrency=2

[Install]
WantedBy=default.target
